PG_USER=appvista
PG_PASSWORD=appvista123
APP_DB=appvista_db
METABASE_DB=metabase_db

MB_ADMIN_EMAIL=admin@appvista.local
MB_ADMIN_PASSWORD=ChangeMe123!
MB_ADMIN_FIRST_NAME=AppVista
MB_ADMIN_LAST_NAME=Admin
MB_SITE_NAME=AppVista Analytics